* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    width: ;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    color: white;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 6%, rgba(23, 166, 140, 1) 47%, rgba(25, 73, 115, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(6%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(23, 166, 140, 1)), color-stop(100%, rgba(25, 73, 115, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 6%, rgba(23, 166, 140, 1) 47%, rgba(25, 73, 115, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 6%, rgba(23, 166, 140, 1) 47%, rgba(25, 73, 115, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 6%, rgba(23, 166, 140, 1) 47%, rgba(25, 73, 115, 1) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 6%, rgba(23, 166, 140, 1) 47%, rgba(25, 73, 115, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#194973', GradientType=1);
}

.header__menu nav ul {
    display: flex;
    list-style: none;
}

.header__menu nav ul li {
    margin: 0 10px;
    font-weight: normal;
}

.header__menu nav ul li a {
    text-decoration: none;
    color: white;
}

.header__menu nav ul li a:hover {
    text-decoration: underline;
    color: white;
}

.logo__img img {
    height: 50px;
    width: 200px;
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: center;
    margin: 0px 0;
    align-items: flex-start;
    margin-top: -650px;
}

.search__input input,
.search__button button {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(235, 230, 230);
}

.search__input input {
    width: 600px;
    outline: none;
}

::placeholder {
    font-size: 15px;
    color: #194973;
}

.search__button button {
    margin-left: 3px;
    font-size: 15px;
    padding: 19px 30px;
    outline: none;
    background-color: #194973;
    color: honeydew;
    cursor: pointer;
    border: none;
}

.hero img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 100px 200px 0 0;
}

.hero__title,
.hero__subtitle {
    padding-bottom: 10px;
}

.hero__button a {
    color: white;
    text-decoration: none;
}

.hero__title {
    font-size: 50px;
    color: #1A5276;
}

.hero__subtitle {
    font-size: 30px;
    color: #2E4053;
}

.hero__img img {
    width: 30px;
    height: 30px;
}

.hero__button {
    margin-top: 10px;
    padding: 20px;
    width: 20%;
    border: none;
    border-radius: 10px;
    background-color: #17A68C;
    color: white;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}

.cards {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 100px auto 0 auto;
}

.cards__content {
    background-color: #def7ec;
    padding: 60px 30px;
    border-radius: 10px;
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.intercaled {
    background-color: #adf7d5;
}

.content__title {
    color: #1A5276;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.content__title i {
    font-size: 50px;
    text-align: center;
}

.content__subtitle {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10px;
    color: #5499C7;
}

.content__content {
    margin-bottom: 20px;
    font-size: 15px;
    color: #566573;
}

.content__button button {
    background-color: white;
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    color: #228b8e;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

.information {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 30px;
    color: #566573;
}

.information__img {
    width: 50%;
}

.information__img img {
    max-width: 700px;
    width: 100%;
}

.information__description {
    width: 50%;
}

.description__subtitle {
    text-transform: uppercase;
    color: #17A68C;
    font-size: 12px;
}

.description__title,
.description__text {
    margin: 20px 0;
}

.description__title {
    margin: 5px 0;
    font-size: 35px;
}

.description__list {
    margin: 0 30px;
}

.description__button {
    margin-top: 30px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #17A68C;
    color: white;
    font-size: 12px;
    outline: none;
    cursor: pointer;
}

.footer {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(23, 166, 140, 1) 0%, rgba(25, 73, 115, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(0%, rgba(23, 166, 140, 1)), color-stop(100%, rgba(25, 73, 115, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(23, 166, 140, 1) 0%, #194e74 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(23, 166, 140, 1) 0%, rgba(25, 73, 115, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(23, 166, 140, 1) 0%, rgba(25, 73, 115, 1) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(23, 166, 140, 1) 0%, rgba(25, 73, 115, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#194973', GradientType=1);
    display: flex;
    justify-content: space-around;
    padding: 40px;
    height: auto;
    bottom: 0;
    margin-top: auto;
}

.footer__text {
    max-width: 500px;
    color: #ced6dd;
}

.footer__text a {
    color: #ced6dd;
}

.footer__img figure img {
    height: 30px;
    width: 200px;
    display: block;
}

.footer h3 {
    margin-bottom: 20px;
    color: white;
}


/* pagina agenda */

.doctor {
    display: flex;
    margin: 50px 100px;
    color: #566573;
}

.doctor__description {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
}

.description {
    display: flex;
    align-items: center;
}

.description__img img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin: 20px;
}

.description__first-name,
.description__first-ocupation,
.description__first-calification {
    margin-bottom: 5px;
}

.doctor__services {
    margin: 20px;
}

.doctor__services-text {
    color: #17A68C;
}

.doctor__services ul {
    margin: 10px 0 0 20px;
}

.doctor__channel {
    margin: 20px;
}

.doctor__channel h3 {
    color: #17A68C;
}

.doctor__channel p {
    margin: 10px 0;
}

.doctor__price {
    margin: 20px;
    font-size: 20px;
}

.doctor__price strong {
    color: #1A5276;
}

.doctor__schedule {
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.doctor__schedule h3 {
    /* margin: 30px 0; */
}

.doctor__schedule button {
    width: 30%;
}

.hr {
    border: 0.5px point #194973;
    margin: 0 50px;
}